*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
font-family:Georgia, serif;
color:white;
overflow-x:hidden;
}

.hero{
height:100vh;
background:url("assets/hero-bg.jpg");
background-size:cover;
background-position:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
}

.hero-content{
position:relative;
z-index:2;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.logo{
width:280px;
animation:float 5s ease-in-out infinite;
}

h1{
font-size:5rem;
color:#d4af37;
}

.ticket-btn{
margin-top:20px;
padding:15px 35px;
background:#d4af37;
color:black;
text-decoration:none;
border-radius:40px;
font-weight:bold;
}

.cars-section{
padding:120px 50px;
text-align:center;
}

.cars{
display:flex;
justify-content:center;
gap:50px;
margin-top:50px;
}

.car{
width:200px;
height:100px;
background:#d4af37;
border-radius:15px;
}

.experience{
padding:120px 50px;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:50px;
}

.card{
padding:40px;
background:#111;
border:1px solid #d4af37;
border-radius:20px;
font-size:2rem;
}

.dates{
padding:120px;
display:flex;
justify-content:center;
gap:100px;
}

.city{
text-align:center;
}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}
